html {
  margin: 0;
  height: auto;

  height: 100%;
  body {
    margin: 0;
    height: 100%;
    h1,
    p,
    h2,
    h3,
    h4,
    h5,
    a,
    li,
    .subtitle {
      font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    }
    section {
      margin-bottom: 80px;
    }
  }
}
.avatar {
  width: 100%;
  max-width: 200px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}

ul {
  padding: 0;
  margin: 10px;
  li {
    list-style-type: none;
    margin-bottom: 20px;
  }
}

h1 {
  font-size: 40px;
}

.covid {
  color: white;
  &:hover {
    color: #7159c1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}
